body{
    background-color: black;
}

td{
    height: 150px;
    width: 150px;
    border: 1px solid lightblue;
    text-align: center;
    font-size: 60px;
    color: yellow;
}

table{
    margin: auto;
    margin-top: 5%;
}

h1{
    color: white;
    margin-top: 2%;
}