@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #91EEF4;
    margin-inline: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header{
    background-color: #7AD0C2;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 15px;

}

.main{
    display: grid;
    grid-template-columns: 30vw 65vw;
    gap: 20px;
}

.aside{
    background-color: #6ce46e;
    height: 80vh;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.article{
    background-color: #e0af44;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: white;
    gap: 30px;
padding-bottom: 20px;
}

.imagediv{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 50px;
}

.image{
    background-color: #f8e264;
    height: 220px;
    width: 220px;
   display: flex;
   justify-content: center;
   align-items: center;
}
