body {
  background-color: black;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.calc-wrapper {
  margin-top: 50px;
  background-color: white;
  width: 400px;
  border-radius: 8px;
}



.clear-button{
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: #5a5a5a;
  color: white;
width: 98%;
margin:auto;
border-radius: 20px;
}

.row{
  display: flex;
}

.heading{
  text-align: center;
  font-weight: bold;
 color: white;
}